<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro Personas</title>
    <!-- link para tipo de letra -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<!-- Registro de Personas de Contacto-->

<h3>Registro de Personas de Contacto</h3>
<div>
    <form action="#" th:action="@{/agregarPersonaContact}" th:object="${persona}" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" th:field="*{nombre}"  id="nombre"/><br><br>
        <label for="ape1">Primer Apellido</label>
        <input type="text" th:field="*{ape1}"  id="ape1"/><br><br>
        <label for="ape2">Segundo Apellido</label>
        <input type="text" th:field="*{ape2}"  id="ape2"/><br><br>
        <div></div>
        <label for="tele">Telefono</label>
        <input type="tel" th:field="*{tel}"  id="tele"/><br><br>
        <label for="email">Email</label>
        <input type="text" th:field="*{email}"  id="email"/><br><br>
        <input type="submit" value="Agregar">
    </form>
</div>
<div>
    <a href="/">Volver al principal</a>
</div>
</body>
</html>