<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestiones de Control</title>
    <!-- link para tipo de letra -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
<div>
    <h1>Bienvenidos a la empresa TeLoAuditoYTeCobro</h1>
    <p>
        Vendemos servicios de auditorias en las siguientes áreas: ISO–Calidad, ISO–Procesos,
        ISO–Salubridad, Seguridad Laboral, Seguridad de IT.
    </p>
</div>
    <h2>GESTIONES DE CONTROL</h2><br>
<div>
    <a href="/agregarAuditor">Agregar Auditor</a>
</div><br>
<div>
    <a href="/verAuditores">Visualizar Auditores</a>
</div><br>
<div>
    <a href="/agregarClientes">Registrar Cliente</a>
</div><br>
<div>
    <a href="/VerClientes">Lista de Clientes</a>
</div><br>
<div>
    <a href="/agregarPersonaContact">Agregar datos persona de contacto</a>
</div><br>
<div>
    <a href="/listarPersona">Listar Personas de Contacto</a>
</div><br>
<div>
    <a href="/agregarTrabajo">Registro de Trabajo</a>
</div><br>
<div>
    <a href="/verVistas">Visitas de Trabajo</a>
</div><br>
</body>
</html>